/* Margin top solo para que se vea centrado */

.responsive-layout{
    max-width: 1420px;
    margin: auto;
}

.margin-top{
    margin-top: 12vh;
}

.margin-bottom{
    margin-bottom: 15vh;
}

/* Seccion Vision */

.img-absolute{
    top: 0;
    left: 0;
    z-index: -1;
}

.img-circle::before{
    content: "";
    background-image: url(../img/logo3.jpg);
    background-position: center;
    background-size: cover;
    width: 13em;
    height: 13em;
    border-radius: 50%;
    position: absolute;
    top: -8.5em;
    left: -6em;
    z-index: -1;
}

.vision-title-border{
    background-color: black;
    width: 78%;
}   

.vision-title{
    color: #027d3c;
    position: relative;
}

.anchor-inscribe{
    text-decoration: none;
    background-color: #027d3c;
    border-color: #027d3c;
    color: white;
    box-shadow: 4px 4px 4px black;
    width: 50%;
}

.anchor-inscribe:hover{
    text-decoration: none;
    color: white;
}

.principal-section{
    margin-left: 10%;
}
/* Eliminada green background */
.green-background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -15%;
    left: -18%;
    background-color: #027d3c;    
    z-index: -1;
}

.teacher-welcome{
    width: 50%;    
    position: absolute;
    top: 70%;
    right: -10%;
    outline: 9px solid white;
    background-color: #ddde;
    z-index: 7;
    opacity: 88%;
}

/* Seleccion de profesores */

.gray-background{
    background-color: lightgray;
    position: relative;
    z-index: 5;
    padding-bottom: 2%;
}

.pictures-background{
    width: 120%;
    height: 105%;
    background-color: #027d3c;
    position: absolute;
    top: 12%;
    left: -32%;
    z-index: 0;
}


.pictures-text{
    color: white;
}

.button-modal{
    border: none;
    box-shadow: none;
}

.teacher-modal{
    background-color: white;
    height: 75vh;    
}

.picture-border{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 7%;
    top: 5%;
    border: 5px solid white;
    background-color: transparent;
    z-index: 1;    
}

.modal-green-background{
    background-color: #027d3c;
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.z-index-1{
    z-index: 3;
}

.z-index-2{
    z-index: 2;
}

.fill-white{
    fill: white;
}

.anchor-teachers{
    background-color: lightgrey;
    position: relative;
    border: 8px solid #fff;
    padding: 0.5em;
    width: 20%;
}

.anchor-teachers-text{
    z-index: 20;    
}

.anchor-teachers-background{
    width: 105%;
    height: 125%;
    position: absolute;
    top: 0,4em;
    left: 0,4em;
    z-index: -1;
    border: 6px solid #027d3c;
}

.teacher-quotes{
    width: 17%;
    position: absolute;
    right: 5%;
    transform: translate(0,-25%);
}

.teacher-pic{
    max-height: 33vh;
    min-width: 10vw;
    z-index: 1;    
}

.img-png{
    width: 100%;
    height: 100%;
}

.padding-teachers{
    padding-top: 5vw;
    padding-right: 5vh;
    padding-bottom: 5vw;
    padding-left: 5vh;
}