/* Margin top solo para que se vea centrado */

.responsive-layout{
    max-width: 1420px;
    margin: auto;
}

.margin-top{
    margin-top: 20vh;
}

.margin-bottom{
    margin-bottom: 20vh;
}

/* Seccion Vision */

.img-absolute{
    top: 0;
    left: 0;
    z-index: -1;
}

.img-circle::before{
    content: "";
    background-image: url(../img/logo2.jpeg);
    background-position: center;
    background-size: cover;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    position: absolute;
    top: -7em;
    left: -4em;
    z-index: -1;
}

.vision-title-border{
    border-bottom: 4px black solid;
}   

.vision-title{
    color: #027d3c;
    position: relative;
}

.anchor-inscribe{
    text-decoration: none;
    background-color: #027d3c;
    color: white;
    box-shadow: 4px 4px 4px black;
}

.anchor-inscribe:hover{
    text-decoration: none;
    color: white;
}

.principal-section{
    margin-left: 10%;
}
/* Eliminada green background */
.green-background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -15%;
    left: -18%;
    background-color: #027d3c;    
    z-index: -1;
}

.teacher-welcome{
    width: 40%;
    max-width: 280px;
    position: absolute;
    top: 70%;
    right: -10%;
    outline: 5px solid white;
    background-color: #ddde;
    z-index: 1;
}

/* Seleccion de profesores */

.gray-background{
    background-color: lightgray;
    padding: 10vw 5vw;
    z-index: -2;
}

.pictures-background{
    width: 100%;
    height: 100%;
    background-color: #027d3c;
    position: absolute;
    top: 12%;
    left: -12%;
    z-index: 0;
}

.pictures{
    z-index: 1;
}

.pictures-text{
    color: white;
}

.button-modal{
    border: none;
}

.teacher-modal{
    background-color: white;
    height: 75vh;
}

.picture-border{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 7%;
    top: 5%;
    border: 5px solid white;
    background-color: transparent;
    z-index: 1;
    box-shadow: 0 0 10px black;
}

.modal-green-background{
    background-color: #027d3c;
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 20%;
}
.modal-green-background div{
    margin-top:190%;
}

.z-index-1{
    z-index: 3;
}

.z-index-2{
    z-index: 2;
}

.fill-white{
    fill: white;
}