.img-footer{
    border-radius: 50%;
    overflow: hidden;
}

.footer-wrap{
    flex-shrink: 0;
    background-color: green;
}

.margin-top{
    margin-top: 50vh;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper main{
    flex-grow: 1;
}

.container{
    margin-bottom: 35vh;
}

.galery{
    margin-left: -10%;
    position: relative;
}

.galery-background{
    width: 130%;
    height: 130%;    
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: -1;
}

.another-groups{
    position: absolute;
    top: 120%;
    left: 10%;
}

.another-groups-logo{
    padding: 12px;
    position: relative;
    box-shadow: 4px 4px 7px black;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}

.another-groups-text{
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, 0);
}

.img-circle{
    height: 7.5vw;
    width: 7.5vw;
    min-height: 150px;
    min-width: 150px;
}

.pictures{
    box-shadow: 2px 2px 10px 0 black;
}

.input-text{
    font-size: 0.8em;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    text-overflow: ellipsis;
}

.input-text:focus{
    font-size: 0.8em;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
}



.button{
    font-size: 0.8em;
    color: white;
    background-color: green;
    border: 1px solid white;
    transition: 0.5s;
}

.button:hover{
    color: black;
    background-color: white;
}

.modal-size{
    height: 40vh;
    background-color: transparent;
    border: none;
}

.carousel-size{
    height: 100%;
}

.carousel-inner-size{
    height: 100%;
}

.carousel-next{
    position: absolute;
    right: -15%;
}

.carousel-prev{
    position: absolute;
    left: -15%;
}

.kids-logo{
    position: absolute;
    top: -2vw;
    right: -7.5vw;
}

.kids-logo-div{
    position: relative;
    padding: 12px;
    box-shadow: 4px 4px 7px black;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}

.kids-logo-text{
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, 0);
}

.margin-top{
    margin-top: 10vh;
}