.galery{
    margin-left: -10%;
    position: relative;
}

.galery-background{
    width: 130%;
    height: 130%;
    background-color: green;
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: -1;
}

.another-groups{
    position: absolute;
    top: 120%;
    left: 10%;
}

.img-circle > img{
    border-radius: 50%;
    outline: 2px solid green;
}

.img-circle{
    height: 15vw;
    width: 15vw;
    min-height: 150px;
    min-width: 150px;
}

.pictures{
    box-shadow: 2px 2px 10px 0 black;
}
