.galery{
    box-shadow: 50px 50px green;
    outline: 1px solid green;
}

.another-groups > div > img{
    border-radius: 50%;
    outline: 1px solid green;
}

.img-circle{
    height: 20vh;
    width: 20vw;
}