.wrapper-first-section {    
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

.institutional-green{
    background-color: #027d3c;
}

.institutional-grey{
    background-color: #E6E6E6;
}

.institutional-green-font{
  color: #027d3c;
}

.white-section-bg{
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.first-green-square {
    position: absolute;
    width: 30.5%;    
    left: 30%;   
    height: 80vh; 
    z-index: 1; 
}

.primary-logo{
    position: absolute;
    z-index: 2;
    margin-top: 1%;
    margin-left: 41%;
    background-color: white;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}

/* Bienvenidos! */
.first-grey-square{
    position: absolute;
    z-index: 3;
    max-width: 24%;    
    margin-top: 17%;
    margin-left: 57%;
    border-color: white;  
    border-style: solid;  
    border-width: 1vh;
    opacity: 88%;
}

div button{
  box-shadow: 5px 5px 5px black;
}

.institutional-video-container{
    position: absolute;
    width: 7%;    
    z-index: 2;  
    margin-top: 15%;
    margin-left: 42%;    
}

.institutional-img-one{
  position: absolute;   
  z-index: 1;  
  margin-top: 8.5%;
  margin-left: 25%;  
  min-width: 40%;  
}

.buttons-container{
  display: flex;
}

.first-grey-section-bg{
  position: absolute;  
  width: 77vw;
  margin-top: 57vh;
  min-height: 65vh;
  margin-left: 10%;
}

.about-school{
  margin-top: 27vh;
}
.about-school p{
  width: 80%;
}
.underline{
  min-width: 40%;
  min-height: 1vh;
}


/* Seccion 2 Mision*/
.mission-section{
  margin-top: 22vh;
  margin-left: 15%;
  width: 70vw;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
}

#mission-read-more{
  width: 15vw;
}

#mission-quote{
  width: 18vw;
  margin-right: 16%;
  margin-left: 8%;
}

.second-green-square{
  min-height: 71vh;
  width: 20vw;
}

#floating-pic-mission{
  position: absolute;
  margin-left: 45%;
}

/* Seccion Franja Etaria */ 
.groups-section{
  position: relative;
  width: 100vw;
  height: 80vh;
}
.third-green-square{
  position: absolute;
  height: 80vh;
  width: 35vw;
  margin-left: 29.7%;
  z-index: 2;
  
}

.second-grey-section-bg{
  position: absolute;  
  width: 80vw;  
  min-height: 60vh;
  margin-left: 10%;
  z-index: 1;
  margin-top: 9.7%;
}

#student-groups-pic{
  position: absolute;
  z-index: 3;
  margin-top: 5%;
  margin-left: 26%;
}


#age-groups-wrapper{
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 3;
  margin-top: 2%;
  margin-left: 51%;
  align-items: center
}

.second-grey-square{     
    border-color: white;  
    border-style: solid;  
    border-width: 1vh;
    opacity: 88%;
    max-width: 65%;

}

.second-grey-square p{
  opacity: 100%;
  font-weight: 600;
}


#age-groups-shields-wrapper{
  display: flex;
  flex-direction: row;
  z-index: 3; 
  flex-wrap: wrap;
  margin-top: 2%;
  max-width: 50%;
}

.group-shields{
  width: 40%;
  box-shadow: 7px 7px 7px rgb(59, 59, 59)
}

.group-shields h4{
  text-align: center;
}


/* Modal Video */
.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;  
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

/* Modal Form */

.modal-dialog {
    min-width:auto;    
 }

 .modal-content { 
    min-height: 90vh;
 }

 .modal-header img{
    max-width: 100%;
 }